* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-family: sans-serif;
}

.instructor {
  position: relative;
  background-color: #fff;
  margin-top: 150px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.instructor-main-info {
  background-color: #fff;
  display: flex;
  gap: 20px;
  max-width: 500px;
}

.instructor-img {
  /* position: absolute; */
  transform: translate(0, -50px);
  border-radius: 5px;
}

.instructor-about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.instructor-job-title {
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #f3a412;
}

.instructor-fullname {
  background-color: #fff;
  font-family: serif;
  color: #1212a5;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
}

.instructor-text {
  background-color: #fff;
  color: #555;
}

.icons {
  background-color: #fff;
  height: 30px;
  max-width: 800px;
  display: flex;
  padding-left: 100px;
  gap: 50px;
  /* justify-content: space-between; */
}
